<html>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge"> <!-- † -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="/main.css">
<body>
<div class="content">
    <header>
        <nav>
            <div class="wrapper">
                <a href="/" class="headerlogo"></a>
                <ul>
                    <li><a href="/ueber">Über</a></li>
                </ul>
            </div>
        </nav>
        <div class="teaser">
            <h1>Crowd&shy;Newsroom</h1>
            <p>CrowdNewsroom ist eine Plattform für Redaktionen, die gemeinsam mit ihren Lesern recherchieren wollen. Hinter der Entwicklung steht das gemeinnützige Recherchezentrum correctiv.org, das so den Journalismus für Bürgerbeteiligung öffnen und dadurch stärken will.</p>
        </div>
    </header>

    <main>
        {{ content | save}}
    </main>

    <footer>
        <div class="wrapper">
            <div class="branding">
                CrowdNewsroom. Ein projekt von <a href="https://correctiv.org">CORRECTIV</a>
            </div>
            <ul>
                <li><a href="/impressum">Impressum</a></li>
                <li><a href="https://github.com/correctiv/cnr-landingpage" target="_blank">Github</a></li>
            </ul>
        </div>
    </footer>
</div>
</body>
</html>
